{# Element CMS dla frontendu, który wyświetla obrazek z nakładką #}
{% block element_my_overlay_image %}
    <div class="cms-element-my-overlay-image"
         data-my-overlay-image-plugin="true">
        {% if element.data.media %}
            <img src="{{ element.data.media.url }}"
                 alt="{{ element.data.media.alt }}"
                 title="{{ element.data.media.title }}"
                 class="cms-element-my-overlay-image__image">
        {% else %}
            <div class="cms-element-my-overlay-image__placeholder">
                {{ "my-overlay-image.placeholder"|trans|sw_sanitize }}
            </div>
        {% endif %}

        {% if element.config.overlayText.value or element.config.category.value %}
            <div class="cms-element-my-overlay-image__overlay cms-element-my-overlay-image__overlay--{{ element.config.overlayPosition.value|default('center') }}">
                {% if element.config.overlayText.value %}
                    <div class="cms-element-my-overlay-image__overlay-content">
                        {{ element.config.overlayText.value|raw }}
                    </div>
                {% endif %}
                
                {% if element.config.category.value %}
                    <a href="{{ path('frontend.navigation.page', { navigationId: element.config.category.value }) }}"
                       class="cms-element-my-overlay-image__button btn btn-primary">
                        {{ element.config.buttonText.value|default('my-overlay-image.defaultButtonText'|trans|sw_sanitize) }}
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}