{# Element CMS dla frontendu, który wyświetla obrazek z nakładką #}
{% block element_my_overlay_image %}
    <div class="cms-element-my-overlay-image"
         data-my-overlay-image-plugin="true">
        {% if element.data.media %}
            <img src="{{ element.data.media.url }}"
                 alt="{{ element.data.media.alt }}"
                 title="{{ element.data.media.title }}"
                 class="cms-element-my-overlay-image__image">
        {% else %}
            <div class="cms-element-my-overlay-image__placeholder">
                {{ "my-overlay-image.placeholder"|trans|sw_sanitize }}
            </div>
        {% endif %}

        {% if element.data.overlayText or element.data.category %}
            <div class="cms-element-my-overlay-image__overlay cms-element-my-overlay-image__overlay--{{ element.data.overlayPosition|default('center') }}">
                {% if element.data.overlayText %}
                    <div class="cms-element-my-overlay-image__overlay-content">
                        {{ element.data.overlayText|raw }}
                    </div>
                {% endif %}
                
                {% if element.data.category %}
                    {% set buttonStyle = element.data.buttonStyle|default(false) %}
                    {% set buttonClass = buttonStyle ? 'cms-element-my-overlay-image__button--dark' : 'cms-element-my-overlay-image__button--light' %}
                    <a href="{{ path('frontend.navigation.page', { navigationId: element.data.category }) }}"
                       class="cms-element-my-overlay-image__button {{ buttonClass }}">
                        {{ element.data.buttonText|default('my-overlay-image.defaultButtonText'|trans|sw_sanitize) }}
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}